argparse
langchain>=0.0.231
lxml
pymongo
requests
bs4
openai
tiktoken
fastapi
uvicorn
pymongo
pydantic
langchain-openai
langchain-community
langchain-text-splitters
requests
argparse
lxml
beautifulsoup4
tiktoken
langchain-mongodb